    <link rel="stylesheet" href="index.css">
    
    
    <div class="container-fluid">
        <h3>Hello {{name}}</h3>
        <div class="row">
            <div class="col col-sm-6">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto id fugiat quae! Ducimus nulla laborum vitae reiciendis quos dolorum similique rerum neque dolor, quasi, quisquam voluptatibus veniam nisi! Quas, corporis?
            </div>
            <div class="col col-sm-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, reprehenderit. Inventore asperiores illum suscipit natus consequatur animi esse at fugiat, excepturi error delectus. Voluptatibus nihil distinctio delectus fugit maiores aperiam.
            </div>
        </div>
    </div>